div {
    width: 300px;
    height: 300px;
    border: 5px solid #ffbee7;
    img, button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  
    p {
        text-align: center;
    }
}