@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700; 1.100;1.200;1.300;1.400;1.500;1.600;1.700&family=Jersey+10&family=Jersey+15+Charted&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono: ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+10&family=Jersey+15+Charted&family=Source+Sans+3:ital ,wght@0.200..900;1.200..900&display=swap');

img {
    width: 300px;
    height: 300px;

        display: block;
        margin-left: auto;
        margin-right: auto;

        border-radius: 10%;
}

h1 {
   text-align: center;
   font-family: "Bebas Neue", sans-serif;
}

h4 {
    text-align: center;
    font-family: "Exo 2", sans-serif;
}

p {
    text-align: center; 
}

button  { 
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10%;
    border: none;
    background: linear-gradient(#49beb7, #90f6d7);
    transition: 0.5s ease-in-out; 
    color: white;  
}

button:hover {
    background: linear-gradient(#95e8d7, #44beb7);
   
}

body {
 background: linear-gradient(#00b2aa,#ecdeed);
}